
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&family=Montserrat&family=Stick+No+Bills&display=swap');

/*font-family: 'Koh Santepheap', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Stick No Bills', sans-serif;
*/

*{
    padding: 0;
    margin: 0;
}

body {
     background-color: #333; 
     width: auto;
}

/*Grid Layout web & diverse annat */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 2fr 0.8fr;
    grid-template-areas: 
        "header header navbar"
        "main1 main1 main2"
        "content1 content2 content3"
        "footer footer footer";
    width: auto;
    

}

/*Inställningar till samtliga länkar */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

button:hover{
    color: black;
}

#myButton {
    border: 3px solid white;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* Eventuellt en popup
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#aboutme .popup-content {
    width: 600px;
    height: 600px;
    margin: 100px auto;
    position: relative;
}
*/

/* header*/
#main-header {
    background-color: #333;
    grid-area: header;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#main-header header {
    position: relative;
    top: 15%;
    left: 2%
    
}

#navbar {
    background-color: #333;
    grid-area: navbar;
    position: relative;
    
}

#navbar ul {
    list-style: none;
    margin-top: auto;
    position: relative;
    left: 23%;
    top: 20%;
    
}

#navbar li {
    display: inline;
    padding: 6px;
    font-size: 25px;
    
}

#main1{
    background-color: #333;
    grid-area: main1;
    position: relative;
}

#main1 main {
    color: white;
    font-size: 150px;
    font-family: 'Koh Santepheap', cursive;
    position: relative;
    text-align: center;
    top: 20%;
   

}

#main2 {
    background-color: #333;
    grid-area: main2;   
    position: relative;
    top:auto;
}

#main2 img {
    border-radius: 50%;
    position: relative;
    top: 8%;
    left:25%;
}



#content1 {
    grid-area: content1;
    background-color: #333;
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#content2 {
    grid-area: content2;
    background-color: #333;
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

#content3, #content3UL{
    background-color:#333;
    grid-area: content3;
    color: white;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

footer {
    background-color:#333;
    grid-area: footer;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}


/*Mobil Layout */
@media only screen and (max-width:500px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "header"
            "main1"
            "main2"
            "content1"
            "content2"
            "content3"
            "navbar"
            "footer";
    }

    #navbar {
        position: relative;
        background-color:#333;
        text-align: center;
        padding: 5px;
    }

    #main-header header {
        position: relative;
        text-align: center;
        font-size: 30px;
        
    }

    #content1, #content2, #content3 {
        border: white 1px solid;
        padding: 5%;
        margin: 5%;
    }

    

    #main1 main {
        color: white;
        font-size: 40px;
        font-family: 'Koh Santepheap', cursive;
        position: relative;
        left: 1%;
        padding-bottom: 10px;
        text-align: center;
        margin: 5%;
    }   

    #main2 {
        background-color: #333;
        grid-area: main2;   
        position: relative;
    }

    #main2 img {
        border-radius: 50%;
        position: relative;
        max-width: 60%; 
        left: 17%;
        padding: 5%;
        margin: auto;
    }

    #navbar li {
        display: inline;
        padding: 8%;
        font-size: 15px;
        text-align: center;
        
    }

    #navbar {
        padding: 3%;
        margin: auto;
    }

    #navbar ul {
        list-style: none;
        margin-top: auto;
        padding-right: 35%;
        
        
    }

    footer {
        background-color:#333;
        grid-area: footer;
        color: white;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 2%;
    }

}